{% extends "couriermanage/base.html" %}
{% block content %}
<body style="background-color: rgb(65, 255, 230);">
		<h3 style="font-style: inherit; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >
			Data Mining and Intelligent Computing Research Group approaches to exploratory information investigation, unsupervised, semi-supervised and directed learning.
		    Our center  procedures are for diverse data sorts tallying compositions, charts, high-dimensional incorporate vectors and other complex structures. We consider 
			unmistakable assignments, e.g., representation learning, embedding, clustering, causality area, classification and fortress learning.
		</h3>
</body>
{% endblock content %}